extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    thead
      tr
        th Key
        th X
        th Y
        th Map
    tbody
      each world in json
        if world.id == 1
          each map in world.maps
            tr
              td #{map.posX},#{map.posY}
